@use '../partials/variables' as *;

.date-info {
  @media screen and (width <800px) {
    margin: 3rem 1rem;

  }
  @media screen and (width>= 800px) {
    margin: 3rem 10vh;
  }

  color: $offWhiteColor;


  h4 {
    font-weight: 800;
    margin: 0 0 1rem 0;
    padding: 0;
    font-size: 2rem;
    text-align: center;
    color: $headlineColor;

    img {
      height: 0.7em;  
      vertical-align: baseline;
    }
  }

  .date-info-description {
    text-align: center;
    font-size: 1.5rem;
  }

  @media screen and (width <850px) {
    .extra-space-stars {
      display: none;
    }
  }


  .date-info-options {

    @media screen and (width >=850px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem;

      .date-info-options-left {
        text-align: right;
      }

      .date-info-options-right {
        text-align: left;
      }
    }

    @media screen and (width <850px) {

      .date-info-options-left {
        text-align: center;
        margin-bottom: 2em;
      }

      .date-info-options-right {
        text-align: center;
      }

      .horizontal-first-line-missing {
        display: none;
      }
    }


    h5 {
      font-weight: 800;
      margin: 0 0 1rem 0;
      padding: 0;
      color: $headlineColor;
      font-size: 1.5rem;

    }

    address {
      font-style: normal;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    a {
      display: inline-block;
      background-color: $headlineColor;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      padding: 0.2rem 2rem;
      color: black;
      text-decoration: none;
    }
  }


}