@use '../partials/variables' as *;

.page-hero {
  font-family: $fontFamilyHeadline;
  font-weight: 900;
  color: $headlineColor;
  position: relative;
  overflow: hidden;
  height: 50vh;
  width: 100%;

  @media (width>=2560px) {
    background-image: url("#{$assetsBaseDir}/ichstillwoichwill-hero-cropped-4000.avif");
  }
  @media (width<=2560px) and (width > 1920px) {
    background-image: url("#{$assetsBaseDir}/ichstillwoichwill-hero-cropped-2560.avif");
  }
  @media (width<=1920px) and (width > 1280px) {
    background-image: url("#{$assetsBaseDir}/ichstillwoichwill-hero-cropped-1920.avif");
  }
  @media (width<=1280px) {
    background-image: url("#{$assetsBaseDir}/ichstillwoichwill-hero-cropped-1280.avif");
  }

  background-size: cover;
  background-position-y: 70%;


  .page-hero-title {
    font-size: 4rem;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    letter-spacing: -2%;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    height: 100%;
    display: inline-flex;


    a {
      margin: auto 0 1em 1em;
      color: $headlineColor;
      text-decoration: none;

      &:hover, &:focus, &:active {
        color: $headlineColor;
      }

      &::before {
        float: right;
        content: "";
        margin: -0.5em 0 0 0.7em;

        width: 4rem;
        height: 4rem;
        background: url("/src/assets/star.svg") no-repeat center;
      }
    }

    @media screen and (width < 1024px) {
      font-size: 2rem;
      a {
        margin: $defaultSidePaddingSmallVariant;
        @media screen and (width <= $smallVariantScreenWidth) {
          margin: $defaultSidePaddingSmallVariant;

        }

        &::before {
          display: none;
        }
      }
    }

  }


  .page-hero-instagramlink {
    position: absolute;
    right: $defaultSidePadding;
    top: $defaultSidePadding;

    @media screen and (width <= $smallVariantScreenWidth) {
      & {
        right: $defaultSidePaddingSmallVariant;
        top: $defaultSidePaddingSmallVariant;
      }
    }

    img {
      height: $defaultSidePadding;
      @media screen and (width <= $smallVariantScreenWidth) {
        & {
          height: $defaultSidePaddingSmallVariant;
          
        }

      }

    }
  }


}