@use 'sass:color';
@use './base/fonts';
@use './partials/variables' as *;
@use './components/hero';
@use './components/full-text';
@use './components/half-text';
@use './components/dates';
@use './components/footer';
@use './components/about';
@use './components/content';
@use './components/menu';
@use './components/imagegallery';
@use './components/initiatives-map';


* {
  box-sizing: border-box;
}

:root {
  --headline-color: #{$headlineColor};
}

body {
  color: $blackFontColor;
  padding: 0;
  margin: 0; 
  font-family: $fontFamilyHeadline;
  @media screen and (width > 550px) {
    font-size: $defaultFontSize;
  }
  @media screen and (width <= 550px) {
    font-size: $defaultFontSizeSmallVariant;
  }
  line-height: 1.6;
  background-size: 75%;
  background-image: url("#{$assetsBaseDir}/original-background-1280.avif");
}

.highlight {
  $highlightTransition: 38%;
  display: inline;
  background-image: linear-gradient(
          transparent 0,
          transparent $highlightTransition,
          $headlineColor $highlightTransition,
          $headlineColor 97%,
          transparent 97%
  );

  /* makes it work across wrapped lines */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

a.highlight {
  color: $blackFontColor;
  text-decoration: none;
}